body {
    background-color: white; /* #ffffff */ /* rgb(255,255,255) */
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
}
ol {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}