#product-form-container {
	text-align:center;
}
h1 {
    border-bottom: 1px solid gray;
    display: inline-block;
    margin-bottom:30px;
    padding-bottom: 15px;
    padding-top: 15px;
    font-size:16px;
    font-weight: bold;
    text-align:left;
    width: 90%;
}
form {
    display: inline-block;
    text-align:left;
    width: 80%;
 }
input,
select {
    width: 100%;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;
}
label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align:right;
}
input[type=text] ,
input[type=number] {
    border: 1px solid gray;
    border-radius: 4px;    
    margin-bottom:15px;
    padding: 15px;
}
input[type=submit],
input[type=reset] {
    background-color: lightgray;
    border: 1px solid gray;
    border-radius: 4px;
    cursor: pointer;   
    padding: 15px;
    width: 20%;
}
#input-product-weight-unit {
    background-color: white;
    border: 1px solid gray;
    border-radius: 4px;
    margin-bottom:15px;
    padding: 15px;
}        