#findRoot-form-container {
	text-align: center;
}
#findRoot-form-title {
    border-bottom: 1px solid gray;
    display: inline-block;
    margin-bottom:30px;
    padding-bottom: 15px;
    padding-top: 15px;
    font-size:16px;
    font-weight: bold;
    text-align:left;
    width: 90%;
}
#findRoot-form {
    display: inline-flex;
    text-align: center;
    width: 80%;
}
#findRoot-form-inputs-container,
#findRoot-form-inputs-controlers {
    display: inline-block;
    float: left;
    list-style: none;
    padding: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;       
    margin-top: 0px;   
}
#findRoot-form-inputs-container {
    width: 70%;
}
#findRoot-form-inputs-controlers {
    width: 30%
}
#findRoot-form-inputs-container > li,
#findRoot-form-inputs-controlers > li {
    display: inline-flex;
    margin-bottom: 15px;
    margin-right: 15px;
}
#findRoot-form-input-a,
#findRoot-form-input-b,
#findRoot-form-input-c,
#findRoot-form-input-submit_button,
#findRoot-form-input-reset_button,
#findRoot-form-output-roots {
    width: 100%;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;
}
#findRoot-form-input-a-label,
#findRoot-form-input-b-label,
#findRoot-form-input-c-label,
#findRoot-form-output-roots-label,
#findRoot-form-output-roots {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: right;
}
#findRoot-form-input-a-label,
#findRoot-form-input-b-label,
#findRoot-form-input-c-label {
    margin-bottom: 15px;
    margin-right: 15px;
    margin-top: 15px;
}
#findRoot-form-input-a,
#findRoot-form-input-b,
#findRoot-form-input-c {
    border: 1px solid gray;
    box-sizing: border-box;
    border-radius: 4px;    
    padding: 15px;
    width: 100px
}
#findRoot-form-input-submit_button,
#findRoot-form-input-reset_button {
    background-color: lightgray;
    border: 1px solid gray;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;   
    padding: 15px;
    width: 100px
}       