body {
    background-color: azure;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
#top {
    background-color: rgb(50,50,50);
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 10px;
    padding-top: 4px;
    text-align: right;
}
#emphasis {
    background-color: blueviolet;
    height: 300px;
    margin: 0px;
}
#navigation {
    background-color: rgb(50,50,50);
    margin: 0px;
    position: sticky;
    top: 0px;
}
.menu {
    list-style: none;
    margin: 8px;
    padding: 16px;
}
.menu > li {
    display: inline;
    padding: 16px;
}
a:link {
    color: #EEE;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
#container {
    background-color: white;
    margin: auto;
    width: 1000px;
}
#contents {
    padding: 16px;
}
#footer {
    background-color: rgb(50,50,50);
    padding: 16px;
    text-align: center;
}