body {
    margin: 0px;
}
.root {
    border: 1px solid transparent;
    float: left;
    margin: 0px;
    padding: 0px;
    width: 200px;
}
.root input[type=checkbox],
.nodes input[type=checkbox] {
    float: left;
    margin: 6px 5px 0 5px;
}
.root.child-expanded {
    border: 1px solid #ccc;
    border-bottom: none;
    padding: 0px;
}
.nodes {
    background: #fff;
    border: 1px solid #ccc;
    border-top: none;
    display: none;
    margin: 0px;
    padding: 0px;
    position: absolute;    
    width: 200px;
    z-index: 55;     
}
.nodes .node {  
    background-attachment: scroll;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("img/dashed-line-vertical.gif"); 
    background-position: left top;
    background-repeat: repeat-y;
    clear: both;
    list-style: none;
    margin-left: 9px;
    padding-left: 8px;
}
.root .root-label,
.nodes .node-label {
    display: block;
    font-weight: normal;
    padding-top: 4px;    
}
.nodes .node-label {
    background-attachment: scroll;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("img/dashed-line-horizontal.gif");
    background-position: 13px 12px;
    background-repeat: no-repeat;
    margin: 0 0 0 -19px;
}
.root .expand-collapse-button,
.nodes .node .expand-collapse-button {
  background-attachment: scroll;
  background-color: transparent;
  background-image: url("img/expand.png");
  background-position: 0 4px;
  background-repeat: no-repeat;
  border: 0px;
  content: " ";
  float: left;
  height: 16px;
  margin-top: 1px;
  width: 16px; 
}
.root.child-expanded .expand-collapse-button,
.nodes .node.child-expanded > .expand-collapse-button { 
  background-attachment: scroll;
  background-color: transparent;
  background-image: url("img/collapse.png");
  background-position: 0 4px;
  background-repeat: no-repeat;
}
.nodes .node.leaf .expand-collapse-button {
  background: none;
  width: 6px;
}