body {
    background-color: white; /* #ffffff */ /* rgb(255,255,255) */
}
h1, h2, h3, h4, h5, h6 {
    color: green; /* #00ff00 */ /* rgb(0,255,0) */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 45px;
}
h3 {
    font-size: 40px;
}
h4 {
    font-size: 35px;
}
h5 {
    font-size: 30px;
}
h6 {
    font-size: 25px;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: italic; 
    font-weight: bold;
}